body{
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, #0934A2 0%, #100D10 93.75%);
}

.wrapper {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
}
.main-info {
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
}
.main-info__header {
}
.main-info__avatar-box {
}
.main-info__avatar {
}
.main-info__title-box {
}
.main-info__title {
}
.title {
}
.main-info__descr {
}
.main-info__box {
}
.main-info__box-name {
}
.main-info__list {
}
.main-info__list-item {
}
.skills-info {
  background: #FFFFFF;
  border-radius: 10px;
}
.skills-info__wrapper {
}
.h2skills-info__title {
}
.skills-info__inner {
}
.skills-info__box {
}
.skills-info__img-box {
}
.skills-info__img {
}
.skills-info__box-title {
}